Task\ 1/
Task\ 2/
Task\ 3/
Task\ 4/Lab4/WpfApp1/obj/
Task\ 4/Lab4/WpfApp1/bin/
Task\ 4/Lab4/Lab4/obj/
Task\ 4/Lab4/Lab4/bin/
Task\ 4/Lab4/ClassLibrary1/obj/
Task\ 4/Lab4/ClassLibrary1/bin/
Task\ 4/Lab4/.vs/
*.user
*.db
